@import "../../styles/variables.scss";

.menu {
  background-color: $menuBg;
  //width: 320px;
  color: white;
  height: 100vh;
  position: sticky;
  .logo {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      max-width: 250px;
    }
  }
  .menuList {
    display: flex;
    flex-direction: column;
  }
  .menuItem {
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $hoverItem;
    }
    .icon {
      margin-right: -8px;
    }
  }
}